{% extends 'base.html' %}
{% load static %}
{% block head%}
    <link rel="stylesheet" type="text/css" href="{% static "css/root/ideas.css"%}"/>
{% endblock%}

{% block header%}
    <div class="header">
        <button type="button" class="btn btn-outline-secondary">
            <a href="{% url "root:index" %}">Go to index page</a>
        </button>
    </div>

{% endblock %}

{% block main %}
    <div class="main main_container">
        <div class="priority_container">
            <h3 class="priority_container__title"> Whats New </h3>
            <div class="ideas">
                <div class="idea">
                    <h5> Jakies gowno </h5>
                    <p> Twrweoriwoeriwoerioweriweirowoerwieor </p>
                    <h6> maciek </h6>
                </div>
                <div class="idea">
                    <h5>Jakies gowno </h5>
                    <p> Twrweoriwoeriwoerioweriweirowoerwieor </p>
                    <h6> maciek </h6>
                </div>
                <div class="idea">
                    <h5> Jakies gowno </h5>
                    <p> Twrweoriwoeriwoerioweriweirowoerwieor normalnie slowa cos tam cer  </p>
                </div>
                
            </div>
            <button class="btn btn-secondary priority_container__form-button"><h5> mweirwrwenrwer</h5> </button> 
        </div>


    </div>
{% endblock%}