{% extends 'base.html' %}
{% load static %}
{% block head%}
    <link rel="stylesheet" type="text/css" href="{% static "css/root/ideas.css"%}"/>
{% endblock%}

{% block header%}
    <div class="header">
        <button type="button" class="btn btn-outline-secondary">
            <a href="{% url "root:index" %}">Go to index page</a>
        </button>
    </div>

{% endblock %}

{% block main %}


    <div class="main main_container">
        <div class="priority_container">
            <h3 class="priority_container__title"> What's New </h3>
            <div class="ideas">
                {% for whats_new in whats_new_p%}
                    <div class="idea">
                        <h5> {{whats_new.title}} </h5>
                        <p> {{whats_new.text}} </p>
                        <h6> {{whats_new.author}} </h6>
                    </div>
                {% endfor %}            
            </div>

        </div>
        {% for priority in priorities%}
            <div class="priority_container">
                <h3 class="priority_container__title" style="color:{{priority.color}}">{{priority.title}}</h3> 
                <div class="ideas">
                    {% for idea in priority.idea_set.all %}
                        <div class="idea">
                            <h5> {{idea.title}} </h5>
                            <p> {{idea.text}} </p>
                            <h6> {{idea.author}} </h6>
                        </div>
                    {% endfor %}
                </div>
                <button class="btn btn-secondary priority_container__form-button"><h5>Add task</h5> </button> 
            </div>
        {% endfor %}
    </div>

    
{% endblock%}