{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/root/index.css" %}"/>
    <script src="{% static "root/index.js" %}"></script>
{% endblock %}

{% block header %}

    <div class="header">
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-outline-secondary"><a href="{% url "root:logout" %}">Logout</a></button>
            <button type="button" class="btn btn-outline-secondary"><a href=".">Settings</a></button>
            <button type="button" class="btn btn-outline-secondary"><a href="{% url "root:ideas"%}"> Ideas <a></button>
        {% else %}
            <button type="button" class="btn btn-outline-secondary"><a href="{% url "root:login" %}">Sign In</a></button>
            <button type="button" class="btn btn-outline-secondary"><a href="{% url "root:sign_up" %}">sign up</a></button>
        {% endif %}
    </div>

{% endblock %}

{% block main %}
    <div class="main grid-system">
        <div class="left">
            <h3 class="subheader"> Public workspaces </h3>
            {% for workspace in public_workspaces %}

                {% if workspace.password %}
                    <a href="{% url "workspace:workspace" workspace.slug %}">
                        <p>
                            {{ workspace.name }}
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </p>
                    </a>

                {% else %}
                    <a href="{% url "workspace:workspace" workspace.slug %}"><p>{{ workspace.name }}</p></a>
                {% endif %}

            {% endfor %}

            {% if user.is_authenticated %}
                <button id="hidden_workspace" type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#modal_id_">
                    Join to hidden workspace
                </button>

            {% endif %}
        </div>
        <div class="right">
            {% if user.is_authenticated %}
                <h3 class="subheader"> Your Workspaces </h3>
                {% for workspace in allowed_workspaces %}
                    <a href="{% url "workspace:workspace" workspace.slug %}"><p>{{ workspace.name }}</p></a>
                {% endfor %}
            {% else %}
                <h1> Nie wiem co jeszcze tutaj dać</h1>
            {% endif %}
        </div>
    </div>

    {% include "modals/form_modal.html"  with modal_id="" modal_title="Hidden Workspace" modal_form_id="modal_form_id" modal_form=form modal_form_url=url modal_redirect_title="Join to hidden workspace" %}
    {% if form.errors %}
        <script type="text/javascript">
            $("#modal_id_").modal('show');
        </script>
    {% endif %}
  




{% endblock %}