{% extends "base.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/root/index.css" %}"/>
    <script src="{% static "root/index.js" %}"></script>
{% endblock %}

{% block header %}

    <div class="header">
        {% if user.is_authenticated %}
            <button type="button" class="btn btn-outline-secondary"><a href="{% url "root:logout" %}">Logout</a>
            </button>
            <button type="button" class="btn btn-outline-secondary"><a href=".">Settings</a></button>
        {% else %}
            <button type="button" class="btn btn-outline-secondary"><a href="{% url "root:login" %}">Sign In</a>
            </button>
            <button type="button" class="btn btn-outline-secondary"><a href="{% url "root:sign_up" %}">sign up</a>
            </button>
        {% endif %}
    </div>

{% endblock %}

{% block main %}
    <div class="main grid-system">
        <div class="left">
            <h3 class="subheader"> Public workspaces </h3>
            {% for workspace in public_workspaces %}

                {% if workspace.password %}
                    <a href="{% url "workspace:workspace" workspace.slug %}">
                        <p>
                            {{ workspace.name }}
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </p>
                    </a>

                {% else %}
                    <a href="{% url "workspace:workspace" workspace.slug %}"><p>{{ workspace.name }}</p></a>
                {% endif %}

            {% endfor %}

            {% if user.is_authenticated %}
                <button id="hidden_workspace" type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#join_to_workspace_by_password">
                    Join to hidden workspace
                </button>

            {% endif %}
        </div>
        <div class="right">
            {% if user.is_authenticated %}
                <h3 class="subheader"> Your Workspaces </h3>
                {% for workspace in allowed_workspaces %}
                    <a href="{% url "workspace:workspace" workspace.slug %}"><p>{{ workspace.name }}</p></a>
                {% endfor %}
            {% else %}
                <h1> Nie wiem co jeszcze tutaj dać</h1>
            {% endif %}
        </div>
    </div>



    <div class="modal fade" id="join_to_workspace_by_password" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content_look">


                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">Hidden Workspace</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{% url "root:index" %}" method="post" id="my_form">
                        {% csrf_token %}
                        <div id="form_errors">{{ form.non_field_errors }}</div>
                        <p id="workspace_name">
                            <label for="{{ form.name.id_for_label }}">Name: </label>
                            {{ form.name }}
                            {{ form.name.errors }}
                        </p>
                        <p id="workspace_password">

                            <label for="{{ form.password.id_for_label }}">Password: </label>
                            {{ form.password }}
                            {{ form.password.errors }}
                        </p>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="my_form">Go workspace</button>
                </div>

            </div>
        </div>
    </div>
    {% if form.errors %}
        <script type="text/javascript">
            $('#join_to_workspace_by_password').modal('show');
        </script>

    {% endif %}




{% endblock %}