{% extends "base.html" %}
{% block head %}

{% endblock %}

{% block header %}
    <div class="header">
        {% if next %}
            {% if user.is_authenticated %}
                <p>Your account doesn't have access to this page. To proceed,
                    please login with an account that has access.</p>
            {% else %}
                <p>Please login to see this page.</p>
            {% endif %}

        {% else %}
            <p> Login site</p>

        {% endif %}
    </div>
{% endblock %}

{% block main %}

    <div class="main">


        <form method="post" action="{% url 'root:login' %}">
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-secondary">Login</button>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>


{% endblock %}