
<!---
   vars passed to modal
   
   modal_id - generated in template -> potrzebuje do wyswietlenia gdy bledy formularza
   modal_title -  generated in template -> oczywiste
   modal_form_id - generated in template -> potrzebuje do komunikacji miedzy buttonem a formularzem
   modal_form - generated view/template  -> oczywiste
   modal_form_url - generated in view -> oczywiste
   modal_redirect_title -  generated in template -> oczywiste
-->

    <div class="modal fade" id="modal_id_{{modal_id}}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content modal-content_background">


                <div class="modal-header">
                    <h5 class="modal-title" id="modalTitle">{{modal_title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="{{modal_form_url}}" method="post" id="modal_form_{{modal_form_sufix_id}}">
                        {% csrf_token %}
                        {{modal_form.as_p}}
                        <input type="hidden" name="modal_form_id" value="modal_id_{{modal_id}}" >
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="modal_form_{{modal_form_sufix_id}}">{{modal_redirect_title}}</button>
                </div>
            </div>
        </div>
    </div>



    {% if form.errors %}
        <script type="text/javascript">
            $('#{{modal_id}}').modal('show');
        </script>

    {% endif %}