{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/workspace/room.css" %}"/>
{% endblock %}


{% block header %}
  
    <div class="header header-grid-system">
        <div style="grid-area: buttons;">
            <button  type="button" class="btn btn-outline-secondary"><a href="{% url "root:index" %}">Go to index page</a></button>
        </div>
        <div class="grid-area: titles;">
            <h2> {{ workspace.name }} </h2>
            <h3>{{ current_room.name }}</h3>
        </div>
    </div>

{% endblock %}

{% block main %}
    <div class="main main-grid-system">
        <div class="rooms">
            <h3> Rooms </h3>
            <h5> Public rooms </h5>

            {% for room in rooms_in_workspace %}
                {% if room.password %}
                    <a href="{% url "workspace:room" workspace.slug room.slug %}">
                        <p>
                            {{ room.name }}
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </p>
                    </a>

                {% else %}
                    <a href="{% url "workspace:room" workspace.slug room.slug %}"><p>{{ room.name }}</p></a>

                {% endif %}

            {% endfor %}
            <h5> Allowed rooms </h5>

            {% for room in user_rooms %}
                {% if room.password %}
                    <a href="{% url "workspace:room" workspace.slug room.slug %}">
                        <p>
                            {{ room.name }}
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </p>
                    </a>

                {% else %}
                    <a href="{% url "workspace:room" workspace.slug room.slug %}"><p>{{ room.name }}</p></a>

                {% endif %}
            {% endfor %}
            <button id="hidden_room" type="button" class="btn btn-secondary" data-toggle="modal"
                        data-target="#modal_id_">
                Join to hidden room
            </button>
            {% include "modals/form_modal.html" with modal_id="" modal_title="Join to hidden room" modal_form_id="form_id" modal_form=form modal_form_url=url modal_redirect_title="Join to hidden room" %}
            {% if form.errors %}
                <script type="text/javascript">
                    $("#modal_id_").modal('show');
                </script>

            {% endif %}
        </div>

        <div class="chatbox">
            {% for message in messages %}
                {% if message.author == user %}
                    <div class="chatbox__messages__user-message--ind-message" style="float:left">
                        <p class="name"> {{ message.author.username }}</p>

                        <p class="message">{{ message.text }}</p>
                    </div>

                {% else %}
                    <div class="chatbox__messages__user-message--ind-message" style="float:right">
                        <p class="name"> {{ message.author.username }}</p>

                        <p class="message">{{ message.text }}</p>
                    </div>
                {% endif %}


            {% endfor %}
        </div>

        <div class="message-area">
            <textarea id="message-area" placeholder="Type Message"> </textarea>
            <button id="send_msg_button" type="button"> Send</button>

        </div>

        <div class="chatbox__user-list">
            <h3> Users </h3>
            {% for u in users %}
                <div class="chatbox___user-list-box">
                    <div id="{{ u.username }}" class="chatbox__user-list-status chatbox__user--offline"></div>
                    <div class="chatbox___user_-list-name"><p> {{ u.username }}</p></div>
                </div>
            {% endfor %}
        </div>
    </div>

    <script src="{% static "workspace/room.js" %}"></script>

{% endblock %}